* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2; /* Light gray background */
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #333; /* Dark gray text color */
}

.page {
  background-color: #f2f2f2; /* White content background */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container {
  background-color: #155351; /* Blue container background */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

input, button {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.submit {
  text-align: center;
  background-color: #088;
  color: #fff; /* White text color */
  font-weight: bold;
  border: none;
}

.submit:hover {
  background-color: #ffffff;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

th {
  background-color: #0074d9;
  color: #fff;
}

.edit-btn {
  background-color: #f39c12;
  color: #fff;

}

.del-btn {
  background-color: #ff4136;
  color: #fff;
}


tr + tr {
  margin-top: 1rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }

  .container {
      padding: 1rem;
  }

  input, button {
      padding: 0.75rem;
  }
}
